.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 35px;
    margin: 10px;
}
.Cart{
    border: 1px;
    border-radius: 5px;
    border-style: outset;
    background-color:white;
}